
 .contents{
    width: 80%;
    background-color: white;
    height: 70vh;
    padding: 30px 50px 20px 50px;
   }

   .contents .heading{
     font-size:20px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 400;
    }

     .contents .left_text{
      width: 50%;
      margin-top: 10px;
      line-height: 25px;
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      /*background-color: aliceblue;*/
      float: left;
      margin-right: 30px;
      padding: 20px;
     }

     .contents .left_text p{
      margin-right: 20px;
     }

     .contents .right_img{
      float: right;
      width: 40%;
      margin-top: 50px;
     }

     .contents .right_img a {
      text-decoration: none;
      background-color: black;
      color: cornsilk;
      border-radius: 20px;
      padding: 5px 20px;
      font-size: 10px;
      transition: .3s linear;
      margin-left: 2px;
    }
    
    .contents .right_img a:hover {
      background: gray;
    }

   
      /*Second*/
 .contentes{
    width: 80%;
    background-color: white;
    height: 70vh;
    padding: 30px 50px 20px 50px;
   }

   .contentes .heading{
     font-size:20px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 400;
    }

     .contentes .left_text{
      width: 50%;
      margin-top: 10px;
      line-height: 25px;
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      /*background-color: aliceblue;*/
      float: left;
      margin-right: 30px;
      padding: 20px;
     }

     .contentes .left_text p{
      margin-right: 20px;
     }

     .contentes .right_img{
      float: right;
      width: 40%;
      margin-top: 50px;
     }

   
     .contentes .right_img a {
      text-decoration: none;
      background-color: black;
      color: cornsilk;
      border-radius: 20px;
      padding: 5px 20px;
      font-size: 10px;
      transition: .3s linear;
      margin-left: 2px;
    }
    
    .contentes .right_img a:hover {
      background: gray;
    }