:root {
    --color-primary: #ff7b54;
    --color-secondary: #333;
    --color-text-primary: #ffffff;
    --color-quaternary: #333;
    --color-quinary: #333;
    --color-senary: #333;
    --color-septenary: #333;
    --color-octonary: #333;
    --color-nonary: #333;

    --font-family-primary: BMPlexSerif, sans-serif;
    --font-family-secondary: BMPlexSerif-Bold, sans-serif;
}

@font-face {
    font-family: BMPlexSerif;
    src: url(../fonts/BMPlexSerif-Regular.ttf);
}

@font-face {
    font-family: BMPlexSerif-Bold;
    src: url(../fonts/IBMPlexSerif-SemiBoldItalic.ttf);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

}

a {
    color: inherit;
    text-decoration: inherit;
}