
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace';
}


body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('contactphoto1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
}

section{
     position: relative;
     z-index: 3;
     padding-top: 50px;
     padding-bottom: 50px;
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.section-header{
     margin: 50px;
     text-align: center;
}

.section-header h2{
   color: #fff;
   font-weight: bold;
   font-size: 3em;
   margin-bottom: 20px;

}

.section-header p{
  color:#fff;
}

.raw{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-info-item{
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon{
    height: 70px;
    width: 70px;
    background-color:royalblue;
    text-align: center;
    border: 50%;
    border-radius: 30px;
}

.contact-info-icon i{
    font-size: 30px;
    line-height: 70px;
    
}

.contact-info-content{
    margin-left: 20px;
}

.contact-info-content h4{
    color:#1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p{
    color:#fff;
    font-size: 1em;
}